/* start custom dashboard admin */

body {
    direction: rtl !important;
    text-align: right !important;
}

.gh-nav-menu-icon {
    margin-left: 10px;

}

.gh-nav-list svg {
    margin-left: 17px;

}

.gh-nav-list a,
.gh-nav-list button.main-menu-item {
    padding: 7px 39px 7px 32px;
}

.gh-nav-list .gh-secondary-action {
    right: 21rem !important;
}

.gh-nav-list .gh-nav-member-count {
    right: 24rem !important;
}

.gh-nav-menu-dropdown .dropdown-menu {
    right: 0;
    left: 0 !important;
}

.gh-nav-view-list a {
    padding-right: 72px !important;
    padding-left: 0 !important;

}

.gh-user-avatar {
    margin: 0 0 0 8px !important;
}

/* end custom dashboard admin */


/* start custom settings admin */

.admin-x-settings .mr-\[7px\] {
    margin-left: 7px !important;
    margin-right: 0px !important;
}

.admin-x-settings .dark\:tablet\:bg-transparent:is(.dark *) {
    left: 0 !important;
    right: auto !important;

}

.admin-x-settings .data-\[state\=checked\]\:translate-x-\[14px\][data-state=checked] {
    --tw-translate-x: -14px !important;
}

.admin-x-settings .right-\[400px\] {
    right: 0 !important;
}

[data-testid="theme-preview"] {
    display: flex;
    justify-content: end;
}


/* start work in posts pages */

.ember-power-select-trigger:not(.ember-power-select-multiple-trigger):not(.gh-preview-newsletter-trigger) svg {
    margin-right: 2px !important;
    margin-left: -4px !important;
}

.gh-editor-feature-image-unsplash {
    margin-right: 24px !important;
}

.gh-editor-feature-image-add-button svg {
    margin-left: 6px;
}

.modal-header h1 {
    margin: -5px 0 0 0 !important;
}

/* model New view  */

.modal-content .close {
    right: auto !important;
    left: 2rem !important;
}

.modal-footer .gh-btn:not(:first-child) {
    margin-right: 12px !important;
}

/* Members */

@media (min-width: 1440px) and (max-width: 1560px) {
    .gh-members-help-content .text {
        margin: 0 2rem 0 0 !important;
    }
}

.gh-member-actions-menu {
    left: 0 !important;
    right: auto !important;
}

#ember31 {
    margin-right: 10px;
}

.gh-member-initials {
    margin-left: 1.2rem;
    margin-right: 0 !important;
}

.gh-list-scrolling th:not(.wrap) {
    text-align: start;
}

div .w-80 {
    margin-right: 10px;
}


/* work in posts create */


.koenig-lexical .left-\[-32px\] {
    right: -29px !important;
    left: auto;
}

.koenig-lexical .top-\[-2px\] {
    top: -1px !important;
}

@media (min-width: 500px) {
    .koenig-lexical .xs\:left-\[-66px\] {
        right: -66px !important;
        left: auto;
    }
}

.koenig-lexical .left-\[-16px\] {
    right: -16px !important;
}

.ember-power-select-status-icon {
    left: 10px !important;
    right: auto !important;
}

.admin-x-settings .right-\[14px\] {
    left: 14px;
}


li.nav-list-item svg {
    margin: 0 0 0 1rem !important;
}

.post-view-link {
    left: 0 !important;
    right: auto !important;
}

.gh-date-time-picker-timezone {
    margin-right: -30px !important;
    margin-left: 0 !important;
}

.gh-select svg {
    left: 1.2rem !important;
    right: inherit !important;
}

.settings-menu-delete-button svg {
    margin: 0 0 2px 0.8rem !important;
}

li.nav-list-item .arrow-right {
    left: 24px !important;
    right: auto !important;
}

.gh-post-history .user-list-item-figure {
    margin: 0 0 0 8px !important;
}

::selection {
    background: rgba(88, 101, 116, .99);

}

::selection {
    background: rgba(88, 101, 116, .99);

}

::selection {
    background: #131416;

}

::selection {
    background: #131416;

}

::selection {
    background: #e6e9eb;

}

::selection {
    background: #e6e9eb;

}

element {}

.nav-list-item .gh-post-history-version-tag.current {
    background: #373b43;

    color: #a9b0b7;

}

.nav-list-item .gh-post-history-version-tag.current {
    background: #e4e8ec;

    color: #626d79;

}

.nav-list-item .gh-post-history-version-tag {
    margin-right: .8rem;
}


.gh-publish-setting-title svg {
    margin-left: 1.4rem;
    margin-right: 0 !important;
}

.gh-publish-setting-title .icon-expand {
    left: 0;
    right: auto !important;
}

.gh-btn-block svg,
.gh-btn-icon svg {
    margin-left: .6em;
    margin-right: 0 !important;
}

.gh-analytics-actions-menu {
    left: 0 !important;
    right: auto !important;
}


figure {
    margin-right: 0 !important;
    margin-left: 1.6rem !important;
}

.gh-canvas-title-hide-for-mobile {
    margin-right: 10px !important;
}

.gh-editor-post-status .view-post svg {
    margin: 1px 0.6rem 0 0 !important;
}